.absolute-top-right { margin: var(--universal-margin) !important; position: absolute; right: 0; top: 0; }
.button.tag { margin: 0; }
.card h2 { text-align: center; }
.container-relative { position: relative; }
.container-right { bottom: 0; position: absolute; right: 0; }
.has-footer { margin-bottom: 90px; }
.toast { text-align: center; }

blockquote * { font-style: normal; }
footer { bottom: 0; left: 0; position: fixed; right: 0; }
